# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Test / coverage
coverage/
.nyc_output/

# Logs & debug
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.*
!.env.example
